*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    scroll-behavior: smooth;
    animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
nav{
    height: 10vh;
    background-image: linear-gradient(violet,blue);
    box-shadow: 0px 0px 5px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-attachment: fixed;
}
nav>button{
    background-color: transparent;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}
nav>button>img{
    height: 60px;
}
nav>#menu{
    display: none;
}
nav>ul{
    display: flex;
    gap: 30px;
    list-style: none;
    margin-right: 20px;
}
nav>ul>li>a{
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 2px white;
    font-weight: bold;
    font-size: 17px;
}
main{
    height: 90vh;
    background-image: linear-gradient(violet,blue);
    display: flex;
    align-items: center;
}
main>.left{
    flex-basis: 30%;
}
main>.right{
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right>h1{
    font-size: 60px;
    text-shadow: 2px 2px 2px skyblue;
    transition: all;
}
.right>p{
    font-size: 20px;
    letter-spacing: 0.5px;
}
.right>ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
}
.right>ul>li{
    list-style: none;
}
.right>ul>#contact{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}
.right>ul>li>a{
    text-decoration: none;
}
.right>ul>li>#con{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 7px;
}
.right>ul>li>a>img{
    height: 30px;
}
.right>p>span{
    font-weight: bold;
}
section{
    height: 50vh;
    background-image: linear-gradient(to top,violet,blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills>marquee>img{
    height: 120px;
    margin-right: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}
.projects{
    height: 100vh;
    background-image: linear-gradient(to bottom,violet,blue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: auto;
}
.projects>.project{
    box-shadow: 0px 0px 4px  white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 450px;
    width: 320px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}
.projects>.project:hover{
    transform: scale(1.05);
}
.projects>.project>img{
    height: 200px;
    border-radius: 20px;
}
.project>h2{
    color: white;
    text-shadow: 2px 0px 1px black;
}
.project>p{
    text-align: justify;
    padding: 10px;
}
.project>button{
    width: 50%;
    padding: 8px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    font-weight: bold;
}
.up{
    display: flex;
    justify-content: end;
}
.up>button{
    border: none;
    cursor: pointer;
}
.up>a>img{
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 5px;
}
.experience{
    height: 100vh;
    background-image: linear-gradient(to top,violet,blue);
    display: flex;
}
.experience>.left{
    flex-basis: 50%;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.experience>.right{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.left>.exp{
    height: 50%;
    width: 90%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 2px 2px black;
    transition: all 0.5s ease-in-out;
}
.left>.exp.exp:nth-child(even){
    background: transparent;
    box-shadow: none;
}
.right>.exp2{
    height: 200px;
    width: 90%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow:0px 2px 2px black;
    transition: all 0.5s ease-in-out ;
}
.right>.exp2:nth-child(odd){
    background-color: transparent;
    box-shadow: none;
}
.left>.exp>img{
    height: 120px;
    padding: 10px;
}
.right>.exp2>img{
    height: 120px;
    padding: 10px;
}
.left>.exp>.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
.right>.exp2>.info{
    display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
    padding: 20px;
   gap: 10px;
}
.right>.exp2:hover{
    transform: scale(1.05);
}
.left>.exp:hover{
    transform: scale(1.05);
}
footer{
    height: 40vh;
    background-image: linear-gradient(to bottom,violet,blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
footer>form{
    width: 30%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}   
form>label{
    font-size: 20px;
}
form>input{
   padding: 10px;
   border-radius: 10px;
   border-style: none;
   width: 100%;
   font-weight: bold;
}
form>button{
    padding: 7px;
    border-radius: 10px;
    border: none;
    width: 50%;
}
footer>p{
    font-size: 20px;
    font-weight: bold;
}
@media (max-width: 480px) {
  nav {
    height: auto;
    padding: 10px 0;
  }

  nav > ul {
    display: none;
    
  }
  nav>#menu{
    display: flex;
  }

  nav > button > img {
    height: 40px;
  }

  main {
    flex-direction: column;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  main > .left,
  main > .right {
    flex-basis: 100%;
  }

  .right > h1 {
    font-size: 36px;
  }

  .right > p {
    font-size: 16px;
    text-align: justify;
  }

  .right > ul {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  section {
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .skills > marquee > img {
    height: 80px;
    margin-right: 20px;
  }

  .projects {
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 50px;
  }

  .projects > .project {
    width: 60%;
    height: auto;
    padding: 20px;
  }

  .experience {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .experience > .left,.experience > .right{
    flex-basis: 100%;
    width: 80%;
    height: auto;
    border-right: none;
    gap: 20px;
    padding: 10px 0;
  }

  .experience>.left>.exp{
    flex-direction: column;
    align-items: center;
    height: auto;
  }
   .experience>.right>.exp2{
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .right>.exp2:nth-child(odd){
    display: none;
}
.left>.exp.exp:nth-child(even){
    display: none;
}
  
  footer {
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  footer > form {
    width: 50%;

  }
  .left>.exp>.info{
    justify-content: center;
    padding: 10px;
}
    .right>.exp2>.info{
        padding: 10px;
    }
.up>a>img{
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 15px;
}
}
@media (max-width: 340px){
    nav {
    height: auto;
    padding: 10px 0;
  }

  nav > ul {
    display: none;
    
  }
  nav>#menu{
    display: flex;
  }

  nav > button > img {
    height: 40px;
  }

  main {
    flex-direction: column;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  main > .left,
  main > .right {
    flex-basis: 100%;
  }

  .right > h1 {
    font-size: 36px;
  }

  .right > p {
    font-size: 16px;
    text-align: justify;
  }

  .right > ul {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  section {
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .skills > marquee > img {
    height: 80px;
    margin-right: 20px;
  }

  .projects {
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 50px;
  }

  .projects > .project {
    width: 70%;
    height: auto;
    padding: 20px;
  }
.projects > .project>img{
    height: 150px;
}
  .experience {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .experience > .left,.experience > .right{
    flex-basis: 100%;
    width: 80%;
    height: auto;
    border-right: none;
    gap: 20px;
    padding: 10px 0;
  }

  .experience>.left>.exp{
    flex-direction: column;
    align-items: center;
    height: auto;
  }
   .experience>.right>.exp2{
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .right>.exp2:nth-child(odd){
    display: none;
}
.left>.exp.exp:nth-child(even){
    display: none;
}
  
  footer {
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  footer > form {
    width: 50%;

  }
  .left>.exp>.info{
    justify-content: center;
    padding: 10px;
}
    .right>.exp2>.info{
        padding: 10px;
    }
.up>a>img{
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 15px;
}
}
